// Your variable overrides
$primary: #5bc84a;
$danger: #ff5555;
$secondary: #79cf80;
$success: #34b64f;
$info: #0dcaf0;
$warning: #ffb86c;
$light: #f2fffb;
$dark: #393f46;
$pink: #ff79c6;

$theme-colors: (
  'primary': $primary,
  'danger': $danger,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'light': $light,
  'dark': $dark
);
body {
  background-color: #fefffe;
}
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 74%;
  border-radius: 6px;
}

.outline-light-top {
  border-color: $light;
  border-top-style: solid;
  border-width: 2px;
  margin-top: 2vw;
  padding: 1vw;
}

.btn-block {
  margin-top: 1px;
  width: 100%;
}

.shadow-right {
  text-shadow: 10px 2px 2px rgba(20, 9, 5, 0.38);
}
.highlight {
  color: $info;
}

.team-card-text {
  @extend .rounded;
  @extend .bg-light;
  @extend .bg-opacity-75;
  @extend .text-center;
  @extend .p-1;
  @extend .text-dark;
}

.teamCaption {
  text-align: right;
  /* media queries */
  @media (max-width: 374px) {
    display: none;
  }
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
